/HW3.99243021_Hesam.Behbdoudi.zip
/Hw4
/HW7
/q2.PNG
/Q3.java
/q3.PNG
/Q4.java
/q4.PNG
/qu.zip
/qu1.py
/Qu2.java
/qu2.py
/qu3.py
/qu4.py
/Question2.java
/revers.py
/rey.ipynb
/Rey_qu.py
/soal.py
/soal1.jpg
/workspace.code-workspace